.accordion {

}
details {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border: none;
    background: none;
    border-bottom: 1px solid #c5c5c4;
    padding: 0 40px;
    border-radius: 0;
    transition: transform 0.5s;
}
details:first-of-type {
    border-top: 1px solid #c5c5c4;
    margin-top: 30px;
}
details[open] {
    transition: all 0.5s;
}
summary {
    font-family: var(--brand-font);
    font-weight: normal;
    font-size: 20px;
    line-height: 1.25;
    text-transform: none;
    color: #000000;
    letter-spacing: 0;
    margin: 0;
    text-align: left;
    text-indent: 0;
    position: relative;
    padding: 25px 0 35px;
    border: none;
    background: none;
    cursor: pointer;
}
details summary {
    cursor: pointer;
    transition: margin 150ms ease-out;
}
details[open] summary {
    margin-bottom: 25px;
    padding-bottom: 0px;
}
summary::marker {
    content: none;
}
summary::before {
    content: "\e90b";
    font-family: 'ico-vw' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    position: absolute;
    left: -40px;
    bottom: auto;
    right: auto;
    font-size: 25px;
    line-height:1;
    transition: transform 0.5s;
}
[open] summary::before {
    transform: rotate(135deg);
}
details p, details p:last-of-type {
    font-family: var(--brand-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    text-transform: none;
    color: #575756;
    letter-spacing: 0.01em;
    margin: 0 0 25px;
    text-align: left;
    text-indent: 0;
}