.sd-button {
  --_padding-h: var(--sd-space-three-x);
  --_padding-v: var(--sd-space-two-x);
  --_bg-color: var(--sd-color-black);
  --_label-color: var(--sd-color-white);
  --_border-color: var(--sd-color-black);
  border: var(--sd-border-thin) solid var(--_border-color);
  font-family: var(--brand-font);
  cursor: pointer;
  padding: 15px 20px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.075em;

  background-color: var(--_bg-color);
  color: var(--_label-color);
  text-transform: uppercase;
  &:hover {
    --_label-color: var(--sd-color-white);
    --_bg-color: var(--sd-color-teal);
    --_border-color: var(--sd-color-teal);
  }
  @media (--medium) {
    font-size: 14px;
    padding-block: 17px;
    padding-inline: 25px;
  }
}

.sd-button-secondary {
  --_bg-color: transparent;
  --_label-color: var(--sd-color-black);
  border-color: var(--sd-color-black);
  &:hover {
    --_label-color: var(--sd-color-black);
    --_bg-color: var(--sd-color-teal);
    --_border-color: var(--sd-color-teal);
  }
}
.sd-button-onDark {
  --_label-color: var(--sd-color-white);
  --_bg-color: transparent;
  --_border-color: var(--sd-color-white);
  &:hover {
    --_label-color: var(--sd-color-black);
    --_bg-color: var(--sd-color-white);
    --_border-color: var(--sd-color-white);
  }
}
