@font-face {
  font-family: "DIN";
  font-stretch: condensed;
  font-weight: 500;
  src: url("/fonts/din-cond-med.woff2") format("woff2");
}
@font-face {
  font-family: "DIN";
  font-weight: 300;
  src: url("/fonts/din-light.woff2") format("woff2");
}

@font-face {
  font-family: "DIN";
  font-weight: 400;
  src: url("/fonts/din.woff2") format("woff2");
}

@font-face {
  font-family: "DIN";
  font-weight: 500;
  src: url("/fonts/din-medium.woff2");
}

@font-face {
  font-family: "DIN";
  font-weight: 400;
  font-stretch: condensed;
  src: url("/fonts/din-cond.woff2") format("woff2");
}

@font-face {
  font-family: "DIN";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/din-italic.woff2") format("woff2");
}
